.quiz-container {
    overflow: auto;
    max-width: 90%;
    display: block;
    margin: auto;
}


.answer-buttons {
    background: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 10px;
}

.answer-button:hover {
    background: white;
    opacity: 1;
}

